/* Navbar */
.navbar {
  background: #2e1916;
}

.logo-nav-color {
  /* Reference: #bf9788 */
  filter: invert(69%) sepia(31%) saturate(333%) hue-rotate(331deg) brightness(89%) contrast(80%);
}

.logo-nav-color:hover {
  /* Reference: #f4c94f */
  filter: invert(90%) sepia(47%) saturate(4400%) hue-rotate(318deg) brightness(103%) contrast(91%);;
}

a.navbar-brand {
  font-family: 'Amatic SC', cursive;
  color: #bf9788;
  font-size: 40px;
  font-weight: 800;
}

a.navbar-brand:hover {
  color: #f4c94f;
}

.navbar .navbar-nav {
  margin: 0 auto;
}

.navbar .nav-item a {
  font-family: 'Amatic SC', cursive;
  color: #bf9788;
  font-size: 35px;
  font-weight: 500;
}

.nav-item a:hover  {
  color: #f4c94f;
}

.navbar .dropdown-menu.show{
  background-color: rgba(46, 25, 22, 0.8);
  border: none;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;  
}

.navbar-toggler-icon {
  /* Button - Hamburguer */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(191, 151, 136, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

button.navbar-toggler {
  /* Button - Hamburguer */
  border-color: #bf9788;
  box-shadow: none !important;
}

.btn-nav {
  background-color:#f4c94f;
  color: #140d13;
  width: 120px;
  border: none;
  border-radius: 10px 40px 40px 10px;
}

.btn-nav:hover {
  background-color:#eeb10b ;
} 

.btn-nav:active {
  background-color: #b49130;
  box-shadow: 3px 2px 2px #6e6b6e;
  transform: scale(0.98);  
}

/* Carousel */
.text-carousel-1 p {
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 50px;
  color: #14171e;
  text-shadow: 1px 1px #89a8ae;
}

.text-carousel-2 p {
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 50px;
  color: #140d13;
  /* Animation CSS */
  animation: fadeInDown;
  animation-duration: 5s;
}

.blockquote-footer {
  color: #140d13 !important;
  font-size: 20px !important;
  font-weight: 600;
  /* Animation CSS */
  animation: fadeInDown;
  animation-duration: 5s;
}

.text-carousel-3 p {
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
  font-size: 30px;
  color: #2e1916;
  text-shadow: 1px 1px #bf9788;
  /* Animation CSS */
  animation: bounceInRight;
  animation-duration: 5s;
}

.img-carousel {
  opacity: 0.85;
}

.button-carousel {
  padding: 5px 10px;
  border-radius: 40px;
  border: solid 3px #f7c706;
  color: #14171e;
  background: #f7c706;
  opacity: 0.6;
  font-family: 'Indie Flower', cursive;
  font-weight: 800; 
  font-size: 25px;  
  /* Animation CSS */
  animation: bounceInLeft;
  animation-duration: 4s;
} 

.button-carousel:hover {
  opacity: 1.0;   
}

.button-carousel:active {
  opacity: 0.5;
  background: #f4c94f;
  border: solid 3px #f4c94f;
  box-shadow: 10px 5px 5px #14171e;
  transform: scale(0.98) !important;
} 

/* Columns */
.icon-column-color {
  /* Reference: #5f9e95 */
  filter: invert(60%) sepia(15%) saturate(879%) hue-rotate(122deg) brightness(93%) contrast(86%);
}

.animation-column {
  /* Animation CSS */
  animation: fadeInLeftBig;
  animation-duration: 1.5s;
}

/* Section */
.section-bg {
  background-color: #accbd3;
}

/* Footer */
.footer-bg {
  background-color: #5f9e95;
}

.btn-footer {
  background-color:#f4c94f;
  color: #140d13;
  width: 120px;
  border: none;
  border-radius: 10px 40px 40px 10px;
}

.btn-footer:hover {
  background-color:#eeb10b;
}

.btn-footer:active {
  background-color: #b49130;
  box-shadow: 5px 2px 2px #140d13;
  transform: scale(0.98);  
}
