/* Navbar */
.navbar {
  background: #2e1916;
  height: 82px;
  font-family: 'Amatic SC', cursive;
  font-weight: 500;
}

.logo-nav-color {
  /* Reference: #bf9788 */
  filter: invert(69%) sepia(31%) saturate(333%) hue-rotate(331deg) brightness(89%) contrast(80%);
}

.logo-nav-color:hover {
  /* Reference: #f4c94f */
  filter: invert(90%) sepia(47%) saturate(4400%) hue-rotate(318deg) brightness(103%) contrast(91%);;
}

.navbar-brand {
  color: #bf9788 !important ;
  font-size: 40px !important;
}

.navbar-brand:hover {
  color: #f4c94f !important;
}

.navbar .navbar-nav {
  margin: 0 auto;
}

.navbar .nav-item a {
  color: #bf9788 !important;
  font-size: 40px !important;
}

.nav-item a:hover  {
  color: #f4c94f !important;
}

.navbar .dropdown-menu {
  background-color: transparent !important;
  border: none;
}

.navbar .dropdown-menu {
  background-color: rgba(0,0,0,0.5) !important;
}

.dropdown-item:hover {
  background-color: rgba(0,0,0,0.7) !important;
  
}





/* Carousel */
.text-carousel-1 p {
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 50px;
  color: #14171e;
  text-shadow: 1px 1px #89a8ae;
}

.text-carousel-2 p {
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 50px;
  color: #140d13;
  /* Animation CSS */
  animation: fadeInDown;
  animation-duration: 5s;
}

.text-carousel-3 p {
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
  font-size: 30px;
  color: #2e1916;
  text-shadow: 1px 1px #bf9788;
  /* Animation CSS */
  animation: bounceInRight;
  animation-duration: 5s;
}

.img-carousel {
  opacity: 0.85;
}

.button-carousel {
  padding: 5px 10px;
  border-radius: 40px;
  border: solid 3px #f7c706;
  color: #14171e;
  background: #f7c706;
  opacity: 0.6;
  font-family: 'Indie Flower', cursive;
  font-weight: 800; 
  font-size: 25px;  
  /* Animation CSS */
  animation: bounceInLeft;
  animation-duration: 4s;
} 

.button-carousel:hover {
  opacity: 1.0;   
}

.button-carousel:active {
  opacity: 0.5;
  background: #f4c94f;
  border: solid 3px #f4c94f;
  box-shadow: 10px 5px 5px #14171e;
  transform: scale(0.98) !important;
} 